

.courseTitleContainer{
    padding-top: 20px;
    padding-bottom: 10px;
}


.contentTitleContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}
.contentTitleContainer:hover{
    background-color: rgb(218, 215, 215);
}


.select{
    display: flex;
    gap: 15px;
    padding-top: 40px;
}

















