.main{
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.instructor{
    color: blue;
}

.cardTitle{
    line-height: 1.2rem;
    letter-spacing: .02rem;
    font-size: 1rem;
    color:black;
    font-family: anton;
    font-weight: 800;
    text-transform: capitalize;
}
.cardInstructor{
    font-size: .90rem;
    font-family: anton;
    font-weight: 800;
    color: gray;
    padding-top: 8px;
    text-transform: capitalize;
}

.cardRating{
    font-weight:800;
    font-family: anton;
    font-size: .90rem;
    text-transform: capitalize;
}

.cardPrice{
    font-weight:800;
    font-family: anton;
    font-size: 1.3rem;
    text-transform: capitalize;
}