.logoContainer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.imageContainer{
   display: flex;
   justify-content: center;
   padding-top: 40px;
}
.image{
  width:350px;
  height:350px;
}

.google{
  text-align: center;
}
.desc{
  padding-left: 30px;
  color: gray;
}
.label{
  padding-bottom: 5px;
}
.textField{
  padding-bottom: 16px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.button{
  width: 80%;
  height: 45px;
}
.googleIcon{
 
  color:  #4285F4;
}

.loginContainer{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.authImageContainer{
    display: flex;
    width: 60%;
    justify-content: center;
    padding-top: 50px;
}

.authImage{
    width: 60px;

}
