.carousel {
  height:auto;
  background-color: #000;
  color: white;
  font-family: cabin;
  padding-top: 15px;
  padding-bottom: 15px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  line-height: 10px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 350px;
  height: 230px;
}
.cardImg {
  height: 120px;
  width: 350px;
  flex-shrink: 0;
  object-fit: cover;
}
.card_text {
  color: #000;
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight:bold;
  line-height: normal;
}
.button_container {
  display: flex;
  justify-content: center;
}
.button {
  width: 90px;
  height: 30px;
  border: none;
  background-color: #0b1305;
  color: white;
  border-radius: 20px;
}

.mode{
    padding-top: 5px;
    background-color: #727975;
    height: 80px;
}

.mode_text{
    color: #F5F5F5;
    text-align: center;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mode_button_container{
    display: flex;
    justify-content: center;
}
.mode_button{
    font-size: 13px;
    border-radius: 88px;
    background-color: #0b1305;
}
