.navbar{
    height: 70px;
    background-color: #393E46;
}

.logo{
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.searchIcon{
    display: flex;
    justify-self: end;
}

.signInLink{
    color: white;
    text-decoration: none;
}

.drawer{
    background-color: rgb(36, 35, 35);
}
.navUser{
    font-size: 16px;
    font-weight: 600;
    font-family:secular one;
    cursor: pointer;
}
.navCourse{
    font-size: 16px;
    font-weight: 600;
    font-family:secular one;
    cursor: pointer;
    color: #fff;
    text-align: center;
}