.main{
  background-color: #393E46;
  padding: 0 100px;
}

.text{
  text-decoration: none;
  color: white;
  font-weight: 900;

}
.right{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  gap: 30px;
}


