.navbar{
    height: 70px;
    background-color: #393E46;
}

.logo{
<<<<<<< HEAD
  width: 100px;
  height: 40px;
  cursor: pointer;
=======
    width: 100px;
    height: 40px;
    cursor: pointer;
>>>>>>> branch
}
.searchIcon{
    display: flex;
    justify-self: end;
}

.signInLink{
    color: white;
    text-decoration: none;
}

.drawer{
    background-color: rgb(36, 35, 35);
}