.logoContainer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.imageContainer{
   display: flex;
   justify-content: center;
   padding-top: 40px;
}
.image{
  width:350px;
  height:350px;
}
.title{
  font-size: 1.8219rem;
  font-weight: 700;
  padding-top: 40px;
  padding-left: 30px;
}
.google{
  text-align: center;
}
.desc{
  padding-left: 30px;
  color: gray;
}
.label{
  padding-bottom: 5px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 15px;
}
.button{
  width: 80%;
  height: 45px;
}
.googleIcon{
 
  color:  #4285F4;
}

.loginContainer{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
