.mainTitle{
    font-size: 22px;
    font-weight: 900;
    padding-bottom: 20px;
}
.main{
    padding-top: 40px;
}
.chapterName{
    font-size: 18px;
    font-weight: 700;
    font-family: anton;
}

.contentName{
    font-size: 16px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chapterContainer{
    background-color: rgb(234, 229, 239);
}